path.borough {
  stroke: black;
}
.active {
 fill: rgb(255, 213, 210);
 z-index: 100; 
}
.ChartsContainer {
  position: relative;
}

.MapsContainer {
  position: absolute;
  left: -281px;
}

.App {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.App-header {
  margin-bottom: 20px;
}
